<h1>Restaurants</h1>

<!-- List restaurants  -->
<ul>
  <% @restaurants.each do |r| %>
    <li>
      <%= link_to r.name, restaurant_path(r) %>
      ・
      <%= link_to restaurant_path(r), method: :delete, data: { confirm: "Are you sure you want to delete '#{r.name}'?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>
<!-- Add restuarant link  -->
<%= link_to new_restaurant_path do %>
<p><i class="fas fa-plus"></i> Add new restaurant</p>
<% end %>
